# .ebextensions/nodecommand.config

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"

packages:
  yum:
    git: []

files:
  "/etc/httpd/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass / http://127.0.0.1:8081/
      ProxyPassReverse / http://127.0.0.1:8081/

commands:
  01_create_node_modules:
    command: "npm install"
    cwd: "/var/app/current"
    ignoreErrors: false

container_commands:
  01_migrate_database:
    command: "echo 'Skipping database migration as no database is configured'"
    leader_only: true

  02_build:
    command: "npm run build"
    leader_only: true

  03_start_app:
    command: "npm start"
    leader_only: true

